* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Poppins', sans-serif;}
  
  footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
  }